<%= simple_form_for(@other) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :organization %>
    <%= f.input :program %>
    <%= f.input :description %>
    <%= f.input :gpa %>
    <%= f.input :infourl %>
    <%= f.input :applyurl %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
