<%= simple_form_for(@scholarshipgrant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :organization %>
    <%= f.input :scholarship %>
    <%= f.input :description %>
    <%= f.input :gpa %>
    <%= f.input :infourl %>
    <%= f.input :applurl %>
    <%= f.input :deadline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
