<p id="notice"><%= notice %></p>

<div class="boxit">
<p>
  <b>Name:</b>
  <p><%= @greek_organization.name %></p>
</p>

<p>
  <b>Description:</b>
  <%= @greek_organization.description %>
</p>

<p>
  <b>Gpa:</b>
  <%= @greek_organization.gpa %>
</p>

<p>
  <b>Applyurl:</b>
  <%= @greek_organization.applyurl %>
</p>
</div>


<%= link_to 'Edit', edit_greek_organization_path(@greek_organization) %> |
<%= link_to 'Back', greek_organizations_path %>
